#tarjeta {
    color: #FFF;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 110px;
    padding: 20px;
    background: #14213D;
    border-radius: 10px;
    width: 350px;
}

#tarjeta a {
    color: #FFF;
}